main#mainContent {
    section#hero {
        padding: 0;

        .hero-wrapper {
            .hero-background {
                background: linear-gradient(rgba(0, 0, 0, 0.1),
                    rgba(0, 0, 0, 0.1)), url(/media/background.png);
                height: 100vh;
                width: 100%;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                top: 0;
            }
        }

        div#title {
        &.show{
            bottom: 5rem;
            position: absolute;
            display: block;
            width: 100%;
            .hero-h1 {

                color: white;
                text-align: center;
                .font(6rem, 700, 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.5));
            }
            &.hide {
            display: none;
        }
        }
        display:none;
        }


    }

    section#signup {
        padding: 0;

        .signup-wrapper {
            .signup-background {
                background: linear-gradient(rgba(0, 0, 0, 0.1),
                    rgba(0, 0, 0, 0.1)), url(/media/signup.jpeg);
                height: 100vh;
                width: 100%;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                top: 0;
            }
        }

        .signup-title {
            width: 80%;
            margin-left: 10%;
            display: flex;
            align-items: center;
            top: 10rem;
            flex-direction: column;
            position: absolute;

            .signup-h1 {
                width: 100%;
                color: white;
                text-align: left;
                .font(7rem, 700, 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.5));

                .hero-h1 {
                    display: block;
                }
            }

            .signup-button {
                width: 100%;
                color: white;
                text-align: left;
                .font(7rem, 700, 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.5));

                svg {
                    fill: #605f6d;
                    .font(3.5rem, 700, none);

                    >text {
                        fill: white;
                    }
                }

            }
        }

    }
        section#categories {
        .font(5rem, 400, none, #4d4d4d);
        padding-top: 4rem;
        padding-bottom: 4rem;
    }


}