@media screen and @max-500 {
    header#index-header {

        section#site-header {

            flex-wrap: wrap;
            justify-content: space-around;
            background:
                linear-gradient(rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5));
            width: 100%;
            margin: 0;

            nav.site-nav {
                order: 0;
            }

            div.logo-flex {
                order: 1;
                margin: 2px;
            }

            div.search-bar-wrapper {
                width: 100%;
                order: 2;
            }
        }
    }

    #mainContent {
        section#hero {
            .hero-wrapper {
                .hero-background {
                    height: 60vh;
                }
            }

            .hero-title {
                .hero-h1 {
                    font-size: 3rem;
                    top: 50vh;
                }
            }
        }

        section#signup {
            .signup-wrapper {
                .signup-background {
                    height: 100vh;
                }
            }

            .signup-title {
                width: 90%;
                margin-left: 5%;
                top: 2rem;

                .signup-h1 {
                    font-size: 6rem;
                }
            }
        }


    }

}