@media screen and @max-500 {
    header#index-header {

        section#site-header {

            flex-wrap: wrap;
            justify-content: space-around;
            background:
                linear-gradient(rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5));
            width: 100%;
            margin: 0;

            nav.site-nav {
                order: 0;
            }

            div.logo-flex {
                order: 1;
                margin: 2px;
            }

            div.search-bar-wrapper {
                width: 100%;
                order: 2;
            }
        }
    }

    main#mainContent {
        section#hero {
            .hero-wrapper {
                .hero-background {
                    height: 60vh;
                }
            }

            div#title.hero-cta {
                top: 14rem;

                .hero-h1 {
                    font-size: 3rem;
                }
            }
        }

        section#signup {
            .signup-wrapper {
                .signup-background {
                    height: 100vh;
                }
            }

            .signup-title {
                width: 90%;
                margin-left: 5%;
                top: 2rem;

                .signup-h1 {
                    font-size: 6rem;
                }
            }
        }




        section#categories {
            font-size: 1.2rem;

            .categories-title-wrapper {
                font-size: 2rem;
                margin-left: 2%;
            }
            .cats {
                flex-wrap: wrap;

                .cat {
                    flex-wrap: wrap;
                    align-items: center;
                    flex-direction: column;
                    margin: 0 .5rem;
                    padding: 0;
                    cursor: pointer;
                    border-radius: 1rem;

                    &:hover {
                        text-decoration: underline;
                    }

                    .img-wrapper {

                        >img {
                            //width: 100%;
                            width: 15rem;
                            //min-width: 40rem;
                            display: block;
                            border-radius: 1rem;
                        }
                    }

                }
            }

            .cards {
                .card {
                width: auto;
                    .img-wrapper {
                    padding:0;
                        img {
                            width: 15rem;
                        }
                    }
                }
            }
        }
        section#about {
            .about-content {
                flex-wrap: wrap;

                .about-image {
                    img {
                        width: 20rem;
                    }
                }
                .about-p {
                    font-size: 2rem;
                }
            }
        }


        }



    }
